.title {
    color: #787878;
    font-size: 20px;
    font-weight: 500;
}

.amount{
    font-size: 32px;
    font-weight: 700; 
}


.css-1xwxv7r-MuiTable-root{
    width: 800px;
}

/* Optional: Style the scrollbar */
.priority_overdue_borrewers_list_block .MuiTableContainer-root::-webkit-scrollbar {
  height: 8px;
}

.priority_overdue_borrewers_list_block .MuiTableContainer-root::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.priority_overdue_borrewers_list_block .MuiTableContainer-root::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.priority_overdue_borrewers_list_block .MuiTableContainer-root::-webkit-scrollbar-thumb:hover {
  background: #555;
}